@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

// Source based on https://codepen.io/cobra_winfrey/pen/mdJeqZb
@mixin magic-border($width, $color, $duration, $direction) {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: calc(100% + #{$width * 2});
    height: calc(100% + #{$width * 2});
    top: calc(#{$width}/-1);
    left: calc(#{$width}/-1);
    background: linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
    background-size: 100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
    transform: scaleX(0) rotate(180deg * $direction);
    transition-delay: $duration*2, $duration, 0s;
  }

  &.selected {
    &:before {
      background-size: 200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
      background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform: scaleX(1) rotate(180deg * $direction);
      transition-delay: 0s, $duration, $duration*2;
    }
  }
}

@mixin full-screen {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
  
  @include full-screen();
}

video {
  position: absolute;
  top: 0;
  left: 0;

  @include full-screen();
}

#root {
  position: relative;

  @include full-screen();
}

canvas {
  box-shadow: inset 0px 0px 0px 10px white;
  position: absolute;
  top: 0;
  left: 0;

  @include full-screen();
}

.toast {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #00bc9b;
  padding: 20px 50px;
  font-weight: bold;
  font-size: 20px;
  max-width: 300px;
  text-align: center;
  line-height: 40px;
  border-radius: 8px;
  border: 2px solid #1a1a1a;
  transition: opacity 300ms ease-in-out;
  z-index: 3;

  &--hide {
    opacity: 0;
  }

  &--show {
    opacity: 1;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: start;
}


.divider {
  height: 1px;
  width: 100%;
  background-color: #242424;
}

.cart {
  background-color: #ffffffde;
  padding: 30px 0;
  border-radius: 10px;
  z-index: 3;
  position: absolute;
  left: 900px;
  top: 100px;

  &__title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  &__item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 300px;
    font-size: 20px;
    color: #242424;
    padding: 10px 30px;
  }

  &__btn__container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    column-gap: 20px;
  }
  
  &__control__btn {
      font-size: 20px;
      padding: 5px 20px;
      background-color: transparent;
      color: rgb(16, 0, 54);
      border: 1px solid rgb(16, 0, 54);
      cursor: pointer;
      transition: 0.2s ease-in-out;
  }
  
  &__counter__output {
    font-size: 16px;
    color: rgb(116, 7, 7);
  }

  &__control__btn:hover {
      background-color: rgb(16, 0, 54);
      color: rgb(255, 255, 255);
      border: 1px solid rgb(16, 0, 54);
  }
}

.menu {
  background-color: #ffffffde;
  padding: 30px 0;
  border-radius: 10px;
  z-index: 3;
  position: absolute;
  left: 100px;
  top: 100px;

  &__section:not(:last-child) {
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 200px;
    font-size: 20px;
    color: #242424;
    padding: 0 30px;

    @include magic-border(3px, #00bc9b, 1.5s, 1);
  }

  &__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.menu-button {
  z-index: 5;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 200px;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 30px;
  background-color: #242424;

  &__open {
    position: absolute;
    top: 30px;
    left: 250px;
  }

  &__close {
    position: absolute;
    top: 30px;
    left: 460px;
  }
}